html, body {
  overflow: hidden;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    height: 27%;
	width: 100%;

    font-size: 16px;
}

#output {
    float: left;
    width: 100%;
    padding-bottom: 3%
}

#textarea {
    pointer-events: none;
}

#keyboard {
    height: 70%;
    width: 100%;
    float: bottom;
    bottom: 10px;
    margin: 0 auto;

    background-color: gray;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#zone_joystick {
    border-radius: 8px;
    width: 2cm;
    height: 2cm;
    margin: auto;
    position: absolute;
}

.wrapper {
	width: 6cm;
	height: 6cm;
	border-radius: 50%;
	position: relative;
    overflow: hidden;
}

.sector {
    position: absolute;
    transform-origin: 100% 100%;
    background: rgb(84, 183, 223);
    width: 8cm;
    height: 8cm;
    left: 50%;
    top: 50%;
    /* border: 0.5px solid white; */
    margin-top: -8cm;
    margin-left: -8cm;
    overflow: hidden;
}

.sector_selected {
    background: rgb(100, 148, 211);
}

.sector_grey {
    background: grey;
}

.text { 
    position: relative; 
    top: 120px; 
    left: 270px; 
    padding: 10px 10px; 
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    transform: skew(-45deg, 0deg) rotate(-67.5deg);
}

.text2 { 
    position: relative; 
    top: 190px; 
    left: 30px; 
    padding: 10px 10px; 
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    transform: skew(-45deg, 0deg) rotate(-157.5deg);
}

.text3 { 
    position: relative; 
    top: 352px; 
    left: -60px; 
    padding: 10px 10px; 
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    transform: skew(-45deg, 0deg) rotate(-247.5deg);
}

.text4 { 
    position: relative; 
    top: 352px; 
    left: -60px; 
    padding: 10px 10px; 
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    transform: skew(-45deg, 0deg) rotate(112.5deg);
}

.text5 { 
    position: relative; 
    top: 287px; 
    left: 172px; 
    padding: 10px 10px; 
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    transform: skew(-45deg, 0deg) rotate(22.5deg);
}

.circle {
    position: absolute;
    height: 3.5cm;
    width: 3.5cm;
    background-color: gray;
    border-radius: 50%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}